# Build and Release Folders
pico-sdk/
CMakeFiles/
CMakeCache.txt
src/CMakeFiles/
src/CMakeCache.txt
src/docs/
src/elf2uf2/
src/generated/
src/pioasm/
src/src/
src/test/
src/tools/
src/Makefile
src/cmake_install.cmake
build/